*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
}

.about{
    flex: 1;
}

.about h1{
    font-weight: 600;
}

.education{
    flex: 1;
}

.education__container{
    display: flex;
}

.school__container{
    flex: 1;
    display: flex;
    background-color: #FFF8F2;
    align-content: center;
}

.school__container h3{
    font-family: 'Work Sans';
    font-weight: 600;
}

.school__text{
    align-self: center;
}


@media (max-width: 768px) {
    .container{
        width: 100%;
        height: 100vh;
    }

    .about{
        margin: 10vw;
    }

    .education{
        margin: 0 10vw;
    }

    .education__container{
        flex-direction: column;
        gap: 3vw;
    }

    .school__container{
        border-radius: 3vw;
        gap: 5vw;
        padding: 2vw;
    }

    .school__container img{
        width: 15vw;
        margin-left: 5.5vw;
    }
    
    .school__container h3{
        font-size: 4vw;
    }

    .school__container p{
        font-size: 3vw;
    }
}

@media (min-width: 769px) {
    .container{
        max-width: 769px;
        align-self: center;
    }
    
    .about{
        flex: 1;
        margin: 3rem;
    }

    .education{
        margin: 0 3rem;
    }

    .education__container{
        flex-direction: row;
        gap: 1rem;
    }

    .school__container{
        border-radius: 2rem;
        gap: 1rem;
        padding: 2rem 1rem;
        flex-direction: column;
    }

    .school__container img{
        width: 6rem;
        height: 6rem;
        align-self: center;
    }

    .school__container h3{
        font-size: 1rem;
        text-align: center;
        margin: 0.2rem;
    }

    .school__container h3#acs{
        font-size: 1rem;
        text-align: center;
    }

    .school__container p{
        font-size: 0.75rem;
        text-align: center;
    }


}

